<apex:component controller="LCBSNavigation">
 <script>
  j$(document).ready(function(){
      j$('.dropdown-toggle').dropdown();
  });
  function helpPage(){
<!-- window.location = "https://ssoazure--devlcbs--c.cs17.visual.force.com/apex/LCBS_HelpIndexPage";-->
 HelpIndexPage();
}

 </script>

    <apex:stylesheet value="{!URLFOR($Resource.NewLcbsCSS, 'honeywell.lcbs.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.NewLcbsCSS, 'honeywell.lcbs.fonts.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.NewLcbsCSS, 'bootstrap.css?v=3.3.5')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.NewLcbsCSS, 'honeywell.lcbs.header.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.NewLcbsCSS, 'normalize.css?v=3.0.2')}"/>

<Style>

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.eot')}");  
  src: url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.eot?#iefix')}") format('embedded-opentype'), url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.woff2')}") format('woff2'), url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.woff')}") format('woff'), url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.ttf')}") format('truetype'), url("{!URLFOR($Resource.LCBS_New_Font, 'fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')}") format('svg');
}

.logo {
    /* background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png'); */

    background: url('https://az815540.vo.msecnd.net/content/logo.png'); 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250rem; /*20px;*/
    margin-right: 1.250rem; /*20px;*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {width:100%}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
    max-height: 380px;
}
//body{background:none !important}

html, body{font-size:100% !important}
ul li, ol li {margin-left:0}
.applicationName{font-size:19px}
.UlStyle{min-height:36px; background:#fff;width:100%}

@media(min-width: 992px){
    .border-right-md{
        border-right:2px solid #c2c2c2;padding-right:10%;
    }
    
    .ownerBtnControls{
        top: 30px;
    }
}

@media (max-width: 991px){
    .applicationName{
        font-size: 14px !important;
        float: left;
        display: block;
    }
    
    .logo{
        float:left;
    }
    
    .border-bottom-sx{
        border-bottom:2px solid #c2c2c2;padding-top:10%;
    }
}

@media (max-width: 767px){
    .header-row {
        min-height: 6.8rem;
    }
   
}

@media (min-width: 64.001rem)
.navbar-nav > li.active > a {
    border-bottom: 0.188rem solid #1792E5;
}

.companyHeaderTxt{
    font-size: 0.875rem !important;
}

.helpIcon {
    background: transparent url({!$Resource.Honeywell_Help}) no-repeat !important;
    background-size: contain !important;
    background-position: center;
    color: #1792E5;
}

.contentTitle{
    font-weight: normal !important;
}

div.button, button, input[type='button'], input[type='submit'] {
        color: #FFFFFF;
    font-family: 'GothamMedium' !important;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: 0.688rem;
    border: 0.125rem #00ADFF outset;
    background-color: #00ADFF;
    display: inline-block;
    padding: 0.313rem !important;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal !important;
}

.margin-clear{
    margin-left: 0;
    margin-right: 0;
}

.marginTop-10{
    margin-top: 10px;
}

.bottomBorder-1x{
    border-bottom: 1px solid #ccc;
}

.form-custom-input{
    font-family: 'HelveticaBold';
    font-size: 0.875rem;
    color: #36465F;
    height: 2.125rem !important;
    max-width: 18.750rem;
    width: 100%;
    border: 0.063rem solid #CFD3D9;
    border-radius: 0.125rem;
}

.paddingTopBottom-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.boldLabelTxt{
    font-weight: bold !important;
}

</Style>

    <!-- <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/stylesheet-preview.html')}"/>
    <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/honeywell.lcbs.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/honeywell.lcbs.fonts.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/bootstrap.css?v=3.3.5')}"/>
    <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/honeywell.lcbs.header.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az815540.vo.msecnd.net/content/normalize.css?v=3.0.2')}"/>  --> 
    
    <!-- Header area directive -->
    
    <apex:actionFunction name="HelpIndexPage" action="{!helpIndexPageMethod}"/>

            <div ng-controller="NavigationController as vm" class="ng-scope">

                <div class="navbar navbar-default navbar-fixed-top" role="navigation">

                    <div class="navbar-header">

                        <div class="headerArea">

                            <div class="header-row">

                                <span class="logo"></span>

                                <span class="vertLine"></span>

                                <span class="headerText">LCBS Connect</span>

                                <!-- Help Icon hidden on smaller screens -->

                                <div class="visible-lg hidden-md hidden-sm hidden-xs header-row-right">

                                    <ul class="nav navbar-nav navbar-right clearfix">
                                        
                                        <apex:outputlink rendered="{!isContractor}"> 
                                            <li class="headerText blue">
                                                <div class="companyPadding">
                                                    <a href="/LCBS_CompanyInfo" class="companyHeaderTxt"> Company </a>
                                                </div>
                                            </li>
                                        </apex:outputlink>
                                        
                                        <apex:outputLink rendered="{!isDistributor}"> 
                                            <li class="headerText blue">
                                                <div class="companyPadding">
                                                    <a href="/LCBS_Distributor_CompanyInfo" class="companyHeaderTxt"> Company </a>
                                                </div>
                                            </li>
                                        </apex:outputLink> 
                                        
                                        <li>
                                            <div class="horizontalLine"></div>
                                        </li>

                                        <li>
                                            <a href="#" class="headerText userNamePadding dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <span id="userId">{!$User.Firstname} {!$User.LastName}</span>
                                                <span class="lcbsCaret headerCaret"></span>
                                            </a>
                                            <ul class="headerText dropdown-menu" role="menu">
                                               <!-- <li><a class="headerText" href="#">Change Password</a></li>  -->
                                               <li><a class="headerText" href="https://account.activedirectory.windowsazure.com/ChangePassword.aspx">Change Password</a></li>
                                              <li> <apex:outputLink styleClass="headerText" value="/LCBS_NotificationPreferences" rendered="{!isContractor}">Notification Preferences</apex:outputLink> </li>
                                                <li> <a class="headerText" href="http://login.microsoftonline.com/logout.srf">Logout</a>
                                                <!--<apex:outputLink onclick="logout();">Logout</apex:outputLink> -->
                                                </li>
                                            </ul>                                        
                                        </li>

                                        <!-- <li> <apex:image value="{!$Resource.Honeywell_Help}" width="20" height="20"/>
                                        </li> -->
                                        <!-- <li class="helpIcon headerHelp">
                                        </li> -->
                                      <!--  <li class="helpIcon headerHelp"></li>-->
                                        <li class="helpIcon headerHelp" onclick="helpPage();"></li>


                                    </ul>

                                </div>

                                <!-- Toggle button for showing menu items in smaller screen -->

                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-row">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>

                            <!-- Header area separator incase of mobile and tablet screens ->>

                            <div class="headerAreaSeparator visible-md visible-sm visible-xs"></div>

                            <!-- Menu Item contents -->
                          
                            <div class="collapse navbar-collapse navbar-row" >
                                <apex:outputPanel rendered="{!isContractor}">     
                                <ul class="nav navbar-nav">

                                    <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'">

                                        <a class="navigationText navigationTextPadding" href="{!HomeUrl}">Home</a>

                                    </li>

                                    <li ng-class="(vm.active === 'buildings') ? 'dropdown active' : 'dropdown'" class="active">

                                        <a class="navigationText navigationTextPadding buildingMenu active" href="{!BuildingUrl}">Buildings</a>

                                    </li>

                                    <li ng-class="(vm.active === 'reports') ? 'dropdown active' : 'dropdown'">

                                        <a data-href="#" href="#" class="navigationText navigationTextPadding">Reports</a>

                                    </li>

                                </ul>
                                 </apex:outputpanel>
                                 <apex:outputPanel rendered="{!isDistributor}">     
                                <ul class="nav navbar-nav">

                                    <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'" class="active">

                                        <a class="navigationText navigationTextPadding" href="/LCBSContractorPage">Home</a>

                                    </li>

                                   
                                </ul>
                                 </apex:outputpanel>
                                <!-- Whereas in smaller screens show the menus directly along with help. -->

                                <ul class="nav navbar-nav navbar-right clearfix visible-md visible-sm visible-xs ">

                                    <li role="separator" class="nav-divider"></li>
                                    
                                    <li>
                                        <apex:outputLink styleClass="navigationText" value="/LCBS_CompanyInfo" rendered="{!isContractor}">
                                            Company 
                                        </apex:outputLink>
                                        <apex:outputLink styleClass="navigationText" value="/LCBS_Distributor_CompanyInfo" rendered="{!isDistributor}">Company</apex:outputLink>
                                    </li>
                                    <!--
                                    <apex:outputlink rendered="{!isContractor}"> 
                                       <li>
                                           <a href="/LCBS_CompanyInfo" class="navigationText"> Company </a>
                                       </li>
                                    </apex:outputlink>
                                        
                                    <apex:outputLink rendered="{!isDistributor}"> 
                                        <li>
                                            <a href="/LCBS_Distributor_CompanyInfo" class="navigationText"> Company </a>
                                        </li>
                                    </apex:outputLink>
                                    -->
                                    <li>

                                        <a class="navigationText" href="#">Change Password</a>

                                    </li>

                                    <li>
                                           <apex:outputLink styleClass="navigationText" value="/LCBS_NotificationPreferences" rendered="{!isContractor}">
                                               Notification Preferences
                                           </apex:outputLink>
                                            <!-- <apex:outputPanel rendered="{!isContractor}" styleClass="navigationText">
                                                <a class="navigationText" href="/LCBS_NotificationPreferences">Notification Preferences</a>
                                            </apex:outputpanel> -->

                                    </li>

                                    <li>

                                        <a class="navigationText" href="#">Help</a>

                                    </li>    

                                    <li>
                                        <a class="navigationText" href="{!$Site.Prefix}/secur/logout.jsp">Logout</a>
                                       <!--  <a class="navigationText" href="http://login.microsoftonline.com/logout.srf">Logout</a>
                                       <apex:outputLink onclick="logout();">Logout</apex:outputLink>
                                        <apex:actionFunction name="logout" action="{!logout}"/> -->

                                    </li>

                                </ul>
                                
                            </div>
                           
                        </div>

                    </div>

                </div>

            </div>

</apex:component>