<apex:component controller="LCBSNavigation">

<Style>
.logo {
    /* background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png'); */


    background: url('https://az771491.vo.msecnd.net/content/logo.png'); 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250rem; /*20px;*/
    margin-right: 1.250rem; /*20px;*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {width:100%}



body{background:none !important}

html, body{font-size:100% !important}
ul li, ol li {margin-left:0}
.applicationName{font-size:19px}
.UlStyle{min-height:36px; background:#fff;width:100%}

@media (max-width: 992px){
    .applicationName{
        font-size: 14px !important;
        float: left;
        display: block;
    }
    
    .logo{
        float:left;
    }
}

@media (max-width: 767px){
    .header-row {
        min-height: 6.8rem;
    }
}

@media (min-width: 64.001rem)
.navbar-nav > li.active > a {
    border-bottom: 0.188rem solid #1792E5;
}

.companyHeaderTxt{
    font-size: 0.875rem !important;
}

.helpIcon {
    background: transparent url({!$Resource.Honeywell_Help}) no-repeat !important;
    background-size: contain !important;
    background-position: center;
}

.contentTitle{
    font-weight: normal !important;
}

div.button, button, input[type='button'], input[type='submit'] {
        color: #FFFFFF;
    font-family: 'GothamMedium' !important;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: 0.688rem;
    border: 0.125rem #00ADFF outset;
    background-color: #00ADFF;
    display: inline-block;
    padding: 0.313rem !important;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal !important;
}

.margin-clear{
    margin-left: 0;
    margin-right: 0;
}

</Style>

    <!-- <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/stylesheet-preview.html')}"/> -->
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.fonts.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/bootstrap.css?v=3.3.5')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.header.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/normalize.css?v=3.0.2')}"/>

<!-- Header area directive -->

            <div ng-controller="NavigationController as vm" class="ng-scope">

                <div class="navbar navbar-default navbar-fixed-top" role="navigation">

                    <div class="navbar-header">

                        <div class="headerArea">

                            <div class="header-row">

                                <span class="logo"></span>

                                <span class="vertLine"></span>

                                <span class="headerText hidden-xs">Light Commercial Buildings Solutions</span>

                                <!-- Help Icon hidden on smaller screens -->

                                <div class="visible-lg hidden-md hidden-sm hidden-xs header-row-right">

                                    <ul class="nav navbar-nav navbar-right clearfix">

                                        <li
                                            class="headerText blue"><div class="companyPadding"><a href="/LCBS_CompanyInfo" class="companyHeaderTxt">Company</a></div>
                                        </li>

                                        <li>

                                            <div class="horizontalLine"></div>

                                        </li>

                                        <li>
                                            <a href="#" class="headerText userNamePadding dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <span id="userId">{!$User.Firstname} {!$User.LastName}</span>
                                                <span class="lcbsCaret headerCaret"></span>
                                            </a>
                                            <ul class="headerText dropdown-menu" role="menu">
                                                <li><a class="headerText" href="#">Change Password</a></li>
                                                <!--<li><a class="headerText" href="/LCBS_NotificationPreferences">Notification Preferences</a></li>-->
                                                <li><a class="headerText" href="http://login.microsoftonline.com/logout.srf">Logout</a></li>
                                            </ul>
                                        
                                        </li>

                                        <!-- <li> <apex:image value="{!$Resource.Honeywell_Help}" width="20" height="20"/>
                                        </li> -->
                                        <!-- <li class="helpIcon headerHelp">
                                        </li> -->
                                        <li class="helpIcon headerHelp"></li>

                                    </ul>

                                </div>

                                <!-- Toggle button for showing menu items in smaller screen -->

                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-row">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>

                            <!-- Header area separator incase of mobile and tablet screens ->>

                            <div class="headerAreaSeparator visible-md visible-sm visible-xs"></div>

                            <!-- Menu Item contents -->

                            <div class="collapse navbar-collapse navbar-row">

                                <!--
                                <ul class="nav navbar-nav">

                                    <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'">

                                        <a data-href="/app/home" class="navigationText navigationTextPadding" href="{!BuildingUrl}">Home</a>

                                    </li>

                                    <li ng-class="(vm.active === 'buildings') ? 'dropdown active' : 'dropdown'" class="active">

                                        <a data-href="/app/buildings" class="navigationText navigationTextPadding buildingMenu active" href="{!BuildingUrl}">Buildings</a>

                                    </li>

                                    <li ng-class="(vm.active === 'reports') ? 'dropdown active' : 'dropdown'">

                                        <a data-href="#" href="#" class="navigationText navigationTextPadding">Reports</a>

                                    </li>

                                </ul>
                                -->

                                <!-- Whereas in smaller screens show the menus directly along with help. -->

                                <ul class="nav navbar-nav navbar-right clearfix visible-md visible-sm visible-xs ">

                                    <li role="separator" class="nav-divider"></li>

                                    <li>

                                        <a class="navigationText" href="#">Change Password</a>

                                    </li>

                                  <!--  <li>

                                        <a class="navigationText" href="/LCBS_NotificationPreferences">Notification Preferences</a>

                                    </li> -->
 
                                    <li>

                                        <a class="navigationText" href="#">Help</a>

                                    </li>

                                    <li>

                                        <a class="navigationText" href="http://login.microsoftonline.com/logout.srf">Logout</a>

                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

</apex:component>