<!--------------
Name         : LCBS_Add_New_Distributor
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
<apex:form >
   <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
 <script>
         
         j$ = jQuery.noConflict();
         j$(document).ready( function () {
           j$('.dropdown-toggle').dropdown();
           
         }
                           );
       </script>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sticky-footer.css" rel="stylesheet"/>

    <!-- Custom styles for Honeywell LCBS template -->
    <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <c:LCBS_HoneywellView_NavigationMenu />
     <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
<h1>Add a New Distributor</h1>
</div>
    <div class="container">
<br/>
<div class="row">
<form>
  <div class="col-md-8">
  <div class="form-group">
    <label for="exampleCompany">Company name</label>
    <input type="text" class="form-control" id="exampleCompany" placeholder="Distrbution World"/>
  </div>
  <div class="form-group">
    <label for="exampleFirstName">First name</label>
    <input type="text" class="form-control" id="exampleFirstName" placeholder="John"/>
  </div>
  <div class="form-group">
    <label for="exampleLastName">Last name</label>
    <input type="text" class="form-control" id="exampleLastName" placeholder="Anderson"/>
  </div>
  <div class="form-group">
    <label for="exampleStreet">Street</label>
    <input type="text" class="form-control" id="exampleStreet" placeholder="123 Main St."/>
  </div>
  <div class="form-group">
    <label for="exampleCity">City</label>
    <input type="text" class="form-control" id="exampleCity" placeholder="Springfield"/>
  </div>
  <div class="form-group">
  <label for="exampleState">State</label>
   <select class="form-control" style="padding-top:2px;">
    <option>Alabama</option>
    <option>Alaska</option>
    <option>Arkansas</option>
   </select>
  </div>
  <div class="form-group">
    <label for="exampleZip">ZIP code</label>
    <input type="text" class="form-control" id="exampleZip" placeholder="56789"/>
  </div>



  </div>
  <div class="col-md-4">
  <div class="form-group">
    <label for="examplePhone">Phone number</label>
    <input type="tel" class="form-control" id="exampleZip" placeholder="123-456-7890"/>
  </div>
  <div class="form-group">
    <label for="exampleEmail">Email address</label>
    <input type="email" class="form-control" id="exampleEmail" placeholder="john@anderson.com"/>
  </div>
<button type="submit" class="btn btn-primary" style="background:#3b87de;color: #fff;border-color: #3b87de;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;">Save New Distributor</button>
<button type="submit" class="btn btn-default" style="display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;">Cancel</button>
</div>
</form>
</div>


    

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>





</apex:form>
</apex:page>