<apex:page Controller="ProjectCreateExtension">
<apex:form >
<apex:pageBlock title="Show the Azure Website" >
<apex:pageBlockButtons location="bottom" >
<apex:commandButton action="{!myRedirect}"  value="Save & show" reRender="IframeContent"/><br/><br/>
<!--<apex:outputPanel id="IframeContent">-->

<!--</apex:outputPanel>-->
</apex:pageBlockButtons>

</apex:pageBlock>
<apex:outputPanel id="IframeContent">
<apex:iframe src="https://azure.microsoft.com/en-us/"  id="theFrame" rendered="{!ShowIframe}" height="600px" width="100%"/>
    <script>
    (function() { //this wrapper prevents pollution of the global scope
        var windowOnresize = window.onresize;
        window.onresize = function() {
            if (windowOnresize) windowOnresize(); //don't trample the handler; intercept it
            document.getElementById('theFrame').height = window.innerHeight - 220;
        };
    }());
</script>
</apex:outputPanel>
</apex:form>
  
</apex:page>